/* position */
.imgBox--shapeUp{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.imgBox--shapeDown{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* size image box*/ 
.imgBox--logo{
    width: 91px;
    height: 94px;
    z-index: 1;
}

.imgBox--card{
    width: 339px;
    height: 309px;
    z-index: 1;
}

.imgBox--offer{
    width: 717px;
    height: 780px;
    z-index: 1;
}

.imgBox--snowFirst{
    width: 876px;
    height: 512px;
    z-index: 1;
    position: absolute;
    bottom: -72px;
    left: -344px;
    opacity: 0.44;
}

.imgBox--snowSecond{
    position: absolute;
    width: 812px;
    height: 579px;
    z-index: 1;
}