/* position */
.img--shapeUp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.img--shapeDown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.img--shapeFour {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -246px;
    z-index: 1;
}

.img--shapeFive {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -48px;
}

/* size image box*/ 
.imgBox--logo {
    width: 91px;
    height: 94px;
    z-index: 1;
}

.imgBox--card {
    width: 339px;
    height: 308px;
    z-index: 1;
}

.imgBox--offer {
    width: 720px;
    height: 778px;
    z-index: 1;
}

.imgBox--shadow_1 {
    width: 876px;
    height: 512px;
    z-index: 1;
    position: absolute;
    bottom: 25px;
    left: -344px;
    opacity: 0.44;
}

.imgBox--shadow_2 {
    position: absolute;
    width: 876px;
    height: 512px;
    z-index: 1;
    top: 155px;
    left: -327px;
}

.imgBox--shadow_3 {
    position: absolute;
    width: 812px;
    height: 579px;
    right: -253px;
    bottom: -73px;
}

@media only screen and (min-width:321px) and (max-width: 768px) {
    .imgBox--logo {
        width: 72.8px;
        height: 75.2px
    }

    .img--shapeUp, .img--shapeDown, .imgBox--shadow_1, .imgBox--shadow_2,
    .img--shapeFour, .img--shapeFive, .imgBox--shadow_3  {
        display: none;
    }
    
    .imgBox--card {
        width: 271.2px;
        height: 247.2px;
    }

    .imgBox--offer {
        width: 573,6px;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    .imgBox--logo {
        width: 55px;
        height: 55px
    }

    .imgBox--card {
        width: 237.3px;
        height: 216.3px;
    }

    .imgBox--offer {
        width: 501,9px;
        height: auto;
    }
    
    .img--shapeUp, .img--shapeDown, .imgBox--shadow_1, .imgBox--shadow_2,
    .img--shapeFour, .img--shapeFive, .imgBox--shadow_3  {
        display: none;
    }
}