@import '../../../_settings_/_variables.css';

.subtitle{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Size */
.subtitle--intro{
    font-size: 25px;
    font-style: italic;
    padding: 7.5px 0 62.5px 2px;
}

.subtitle--letsgo{
    font-size: 63px;
    text-align: left;
}

.subtitle--card{
    font-size: 29px;
    text-align: left;
}

.subtitle--offer{
    font-size: 58px;
    text-align: left;
}

.subtitle--explore{
    font-style: italic;
    font-size: 83px;
    text-align: right;
    text-transform: uppercase;
}

.subtitle--loremipsum{
    font-size: 33px;
    line-height: 33.24px;
    text-align: left;
}

.subtitle--quotation{
    font-size: 100px;
    text-align: center;
}

.subtitle--subscribe{
    font-size: 75px;
    text-align: center;
}

.subtitle--footer{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
}

/* color */
.subtitle--white{
    color: var(--white);
}
.subtitle--dark1{
    color: var(--dark-1);
}

.subtitle--dark2{
    color: var(--dark-2);
}

.subtitle--creamy1{
    color: var(--creamy-1);
}

.subtitle--creamy2{
    color: var(--creamy-2);
}

/* shadow */
.subtitle--shadow{
    text-shadow: 3px -4px 5px var(--dark-1);
}