@import '../../../_settings_/_variables.css';

.bodyText{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* size */
.bodyText_size--intro{
    font-size: 21px;
    letter-spacing: 0.96px;
    text-align: left;
    width: 475px;
    padding: 25.5px 0 216.5px 0;
}

.bodyText_size--letsgo{
    width: 694px;
    font-size: 27px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 24.5px 0 72.5px 0;
}

.bodyText_size--card{
    max-width: 299px;
    font-size: 23px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
}

.bodyText_size--offer{
    width: 505px;
    font-size: 29px;
    line-height: 23.63px;
    text-align: left;
}

.bodyText_size--description{
    width: 895px;
    text-align: center;
    font-size: 29px;
}

.bodyText_size--loremipsum{
    width: 332px;
    font-size: 19px;
    line-height: 24.93px;
    text-align: left;
}

.bodyText_size--quotation{
    font-size: 25px;
    width: 792px;
    text-align: center;
    font-weight: 600;
}

.bodyText_size--subscribe{
    width: 890px;
    font-size: 30px;
    text-align: center;
}

.bodyText_size--footer{
    width: 457px;
    font-size: 24px;
    text-align: left;
}

/* theme */

.bodyText_theme--intro{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: var(--dark-1);
}

.bodyText_theme--letsgo{
    color: var(--grey-2);
}

.bodyText_theme--card{
    color: var(--white);
}

.bodyText_theme--offer{
    color: var(--white);
}

.bodyText_theme--description{
    color: var(--grey-1);
}

.bodyText_theme--loremipsum{
    color: var(--dark-3);
}

.bodyText_theme--quotation{
    color: var(--dark-2)
}

.bodyText_theme--subscribe{
    color: var(--dark-1);
}

.bodyText_theme--footer{
    font-family: 'Montserrat';
    color: var(--white);
}