@import '../../../_settings_/_variables.css';

.wrapper--discount {
    background-color: var(--creamy-1);
}

.wrapper--discount:first-child {
    background-color: var(--grey-2);
}

.wrapper--discount:first-child > div { 
    flex-direction: row-reverse;
}

.wrapper--discount > div > div:first-child {
    padding-left: 62px;
    box-sizing: border-box;
}

.inner--discount {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .wrapper--discount > div > div:first-child {
        padding-left: 10px;
    }
}