:root {
    --white: #ffffff;
    --grey-1: #dbdbdb;
    --grey-2: #7f7770;
    --grey-3: #776c64;
    --dark-1: #54524f;
    --dark-2: #3f3f3f;
    --dark-3: #333d42;
    --dark-4: #888888;
    --creamy-1:#deb37e;
    --creamy-2:#e2a355;
  }