@import '../../../_settings_/_variables.css';
  
  .button {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    border: none;
    display: block;
    transition: all 1s ease;
  }

  .button:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: -2px 2px 9px -2px var(--grey-2);
  }
  
  /* Size */
  .button--small {
    width: 218px;
    height: 47px;
    line-height: normal;
    border-radius: 21.8px;
    font-weight: 800;
    font-size: 25px;
  }

  .button--medium {
    width: 222px;
    height: 65px;
    line-height: normal;
    font-weight: 700;
    font-size: 25px;
    border-radius: 22.2px;
    font-size: 23px;
  }
  
  .button--large {
    width: 334px;
    height: 76px;
    line-height: 21.01px;
    font-weight: 800;
    font-size: 29px;
    border-radius: 33.4px;
  }
  
  /* Theme */
  .button--light {
    background-color: #fff;
    opacity: 0.9;
    color: var(--grey-3);
  }
  
  .button--grey {
    background-color: var(--grey-2);
    color: #fff;
  }

  .button--creamy{
    background-color: var(--creamy-2);
    color: #fff;
  }

  .button--dark {
    background-color: var(--dark-1);
    color: #fff;
  }

  /* position */

  .button--center {
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width:321px) and (max-width: 768px) {
    .button--small {
      width: 218px;
      height: 47px;
      border-radius: 21.8px;
      font-size: 25px;
    }

    .button--large {
      width: 267.2px;
      height: 68.8px;
      font-size: 20.3px;
      border-radius: 26.72px;
    }
  }

  @media only screen and (max-width: 320px) {
    .button--small {
      width: 152.6px;
      height: 32.9px;
      border-radius: 15.26px;
      font-size: 15px;
    }

    .button--large {
      width: 233.8px;
      height: 53.2px;
      font-size: 17.4px;
      border-radius: 23.38px;
    }
  }