@import '../../../_settings_/_variables.css';
  
  .button {
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    border: none;
  }
  
  /* Size */
  .button--small {
    width: 218px;
    height: 47px;
    line-height: normal;
    border-radius: 21.8px;
    font-weight: 800;
    font-size: 25px;
  }

  .button--medium {
    width: 222px;
    height: 65px;
    line-height: normal;
    font-weight: 700;
    font-size: 25px;
    border-radius: 22.2px;
    font-size: 23px;
  }
  
  .button--large {
    width: 334px;
    height: 75px;
    line-height: 21.01px;
    font-weight: 800;
    font-size: 29px;
    border-radius: 33.4px;
  }
  
  /* Theme */
  .button--light {
    background-color: #fff;
    opacity: 0.9;
    color: var(--grey-3);
  }
  
  .button--grey {
    background-color: var(--grey-2);
    color: #fff;
  }

  .button--creamy{
    background-color: var(--creamy-2);
    color: #fff;
  }

  .button--dark {
    background-color: var(--dark-1);
    color: #fff;

  }


  
