/* size */
.nav{
    display: flex;
    z-index: 1;
}
.horizontal{
    width: 794px;
    justify-content: space-between;
    align-items: center;
}

.vertical{
   flex-direction: column;
   width: 205px;
}